.about-me {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 2rem;
	padding: 3rem 1rem;
	max-width: 800px;
	margin: auto;
	line-height: 32px;
}

.profile-image {
	max-width: 200px;
	border-radius: 5%;
}

.about-me__links {
	margin: auto;
	text-align: center;
}

.about-me__links a {
	padding: 0 .5rem;
	text-decoration: none;
	color: #26656d;
	letter-spacing: 1px;
}

.about-me__links a:first-of-type {
	padding-left: 0 ;
}